.wrapper-wellcome{
    padding: 40px 25px 60px 25px;
    text-align: center;
    background-color: #00455D;
    color: white;
}

.wrapper-wellcome > h1 {
    font-family: 'Bitter', serif;
    font-size: 3.5rem;
}

.highlight-janjian {
    color: #FF880A;
}

.detail-janjian{
    font-size: 1.5rem;
}
