.wrapper-searchbar{
    background-color: #0F1721;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    margin: -34px 15px 20px 15px !important;
}

@media only screen and (max-width: 600px) {
    .wrapper-searchbar{
        border-radius: 0px;
        margin: -34px 0px 20px 0px !important;
    }
  }