.panel-footer{
    padding: 24px 16px 8px;
    background-color: #0F1721;
    color: white;
}

.panel-footer > a {
    color: white;
    margin-right: 15px;
}

.panel-footer > a :hover{
    color: rgba(255,255,255, 0.7);  
}
