.container-top {
    background-color: aqua;
    margin: 0px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.left-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.red-text {
    color: red;
}

.header-button-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo-hacktiv8-header {
    width: 100px;
    margin-right: 20px;
}

.main-header{
    background-color: #0f1721;
    color: #fff;
}