.wrapper-header{
    border-bottom: 1px solid #bdbdbd;
    background-color: #ffffff;
}

.logo-janjian-header {
    width: 120px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.header-button {
    align-items: center;
    padding: auto 20px auto 20px;
    text-align: center;
}